body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background:
        radial-gradient(circle, rgba(255, 255, 255, 0.082) 1px, transparent 0) 0 0 / 20px 20px repeat,
        linear-gradient(180deg, #1a103d 0%, #030612 100%);
      background-attachment: fixed;
      color: white;
      font-family: sans-serif;
      animation: moveDots 40s linear infinite;
    }

    @keyframes moveDots {
      0% {
        background-position: 0 0, 0 0;
      }
      100% {
        background-position: 100px 100px, 0 0;
      }
    }

    html {
      scroll-behavior: auto;
    }

    ::selection {
      background: #6366f1;
      color: white;
    }